{% extends "dashboard.html" %}
{% block content %}
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">{{success}}</div>
    {% endif %}
    <div class="row">
		<h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Joined Events</h2>
	    {% if joined_events %}
			{% for e in joined_events %}
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>{{e.name}}</h3>
						{% if user.key in e.volunteers %}
							<p><span class="glyphicon glyphicon-ok"></span>Joined as a volunteer</p>
						{% endif %}
						{% if user.key in e.drivers %}
							<p><span class="glyphicon glyphicon-ok"></span>Joined as a driver</p>
						{% endif %}
						{% if user.key in e.translators %}
							<p><span class="glyphicon glyphicon-ok"></span>Joined as a translator</p>
						{% endif %}
						<hr class="light-hr">
						<a href="/event_page/{{e.key.id()}}" type="button" class="btn">Event Page</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if not joined_events %}
	    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">You haven't joined any events!</div>
	    {% endif %}
	</div>
	<hr>
    <div class="row">
	   	<h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Created Events</h2>
	    {% if created_events %}
			{% for e in created_events %}
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>{{e.name}}</h3>
						<p>{{e.description}}</p>
						<hr class="light-hr">
						<a href="/event_page/{{e.key.id()}}" type="button" class="btn">Event Page</a>
						<a href="/edit_event/{{e.key.id()}}" type="button" class="btn btn-good">Edit</a>
						<a href="/check_requests/{{e.key.id()}}" type="button" class="btn btn-bad">Requests</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		<div class="row"></div>
		{% if not created_events %}
	    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">You haven't created any events!</div>
	  	{% endif %}
  	</div>
  	<hr>
  	<div class="row">
	   	<h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Sent Requests</h2>
	    {% if requested_events %}
			{% for e in requested_events %}
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>{{e.name}}</h3>
						{% if user.key in e.volunteer_requests %}
							<p><span class="glyphicon glyphicon-send"></span> Requested to join as a volunteer</p>
						{% endif %}
						{% if user.key in e.driver_requests %}
							<p><span class="glyphicon glyphicon-send"></span> Requested to join as a driver</p>
						{% endif %}
						{% if user.key in e.translator_requests %}
							<p><span class="glyphicon glyphicon-send"></span> Requested to join as a translator</p>
						{% endif %}
						<hr class="light-hr">
						<a href="/event_page/{{e.key.id()}}" type="button" class="btn">Event Page</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		<div class="row"></div>
		{% if not requested_events %}
	    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">You have no pending requests!</div>
	  	{% endif %}
	</div>
  	<hr>
  <a href="/events" type="button" class="btn btn-good">Join an event</a>
  <a href="/create_event" type="button" class="btn btn-bad">Create an event</a>
{% endblock %}