{% extends "dashboard.html" %}
{% block content %}
    <h1>Create Event</h1>
    <hr>
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">{{success}}</div>
    {% endif %}
    <form action="/create_event" method="POST" role="form">    
      <div class="form-group col-lg-4">
        <label for="">Event Name</label>
        <input type="text" class="form-control" name="name" placeholder="Event Name" required="required">
      </div>
      <div class="form-group col-lg-4">
        <label for="">Date</label>
        <!-- TODO: Datetime! -->
        <div class='input-group date' id='datetimepicker'>
          <input type='text' name='date' class="form-control" placeholder="Date"/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker();
            });
        </script>
        </div>
      </div>
      <div class="form-group col-lg-4">
        <label for="">Hours Needed</label>
        <input type="number" name="hours" class="form-control" value="" min="{5"} max="" step="" required="required" placeholder="Event Length">
      </div>
      <div class="form-group col-lg-6">
        <label for="">Location</label>
        <input type="text" class="form-control" name="location" placeholder="Address/Landmark" required="required">
      </div>
      <div class="form-group col-lg-6">
        <label for="">Accessbility</label>
        <input type="text" class="form-control" name="accessibility" placeholder="Accessibility" required="required">
      </div>
      <div class="form-group col-lg-12">
        <label for="">Description</label>
        <textarea name="description" class="form-control" rows="3" required="required"></textarea>
      </div>
      <div class="form-group col-lg-6">
        <label for="">Language</label>
        <input type="text" class="form-control" name="language" placeholder="Language" required="required">
      </div>
      <div class="form-group col-lg-6">
        <label for="">Physical Activity</label>
        <input type="text" class="form-control" name="physical_activity" placeholder="Physical Activity" required="required">
      </div>
      <div class="form-group col-lg-4">
        <label for="">Volunteers Needed</label>
        <input type="number" name="volunteers_needed" class="form-control" value="" min="{0"} max="" step="" required="required" placeholder="Number of volunteers">
      </div>
      <div class="form-group col-lg-4">
        <label for="">Drivers Needed</label>
        <input type="number" name="drivers_needed" class="form-control" value="" min="{0"} max="" step="" required="required" placeholder="Number of drivers">
      </div>
      <div class="form-group col-lg-4">
        <label for="">Translators Needed</label>
        <input type="Number" name="translators_needed" class="form-control" value="" min="{0"} max="" step="" required="required" placeholder="Number of translators">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}