{% extends "dashboard.html" %}
{% block content %}
  <h2>Filter</h2>
  <div class="row">
    <!-- LEFT SIDE FILTER FORM -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label for="input" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Language: </label>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select name="" id="language" class="form-control">
              <option value="">Any</option>
              <option value="">English</option>
              <option value="">Spanish</option>
              <option value="">Chinese</option>
              <option value="">Yoruba</option>
            </select>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label for="input" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Time Commitment: </label>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select name="" id="time_commitment" class="form-control">
              <option value="">Any</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6+">6+</option>
            </select>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
          <label for="input" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Physical Activity: </label>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select name="" id="phyiscal_a" class="form-control">
              <option value="">Any</option>
              <option value="">Low</option>
              <option value="">Medium</option>
              <option value="">High</option>
            </select>
          </div>
        </div>  
      </div>
    </div>
    <!-- RIGHT SIDE FILTER FORM -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <div class="text-center">
            <h4>Driver</h4>
            <input type="checkbox" name="driver" id="driver" value="1" checked="checked">
          </div>
        </div>  
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <div class="text-center">
            <h4>Translator</h4>
            <input type="checkbox" name="translator" id="translator" value="1" checked="checked">
          </div>
        </div>  
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <div class="text-center">
            <h4>Volunteer</h4>
            <input type="checkbox" name="volunteer" id="Volunteer" value="1" checked="checked">
          </div>
        </div>  
      </div>
    </div>
  </div>
  <hr>
  <!-- RESULTS -->
  <div id="event_results">
  {% if not events %}
    <h4>No events available!</h4>
  {% endif %}
  {% for e in events %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card-top col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <h3 class="card-title">{{e.name}}</h3>
            <p class="card-description">{{e.description}}</p>
          </div>
          <div class="card-title text-center col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <p>{{e.hours}} Hours</p>
          </div>
        </div>
        <div class="card-bottom col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="event-info col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p class="card-info">TIME</p>
            <p class="card-info">LANGUAGE</p>
            <p class="card-info">PHYSICAL ACTIVITY</p>
          </div>
          <div class="event-needs text-center col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <p class="card-info">DRIVERS</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <p class="card-info">TRANSLATORS</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <p class="card-info">VOLUNTEERS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}