{% extends "dashboard.html" %}
{% block content %}
  <h1 class="event-page-title pink-font">{{event.name}}</h1>
  <h4 class="pink-font">{{event.date.strftime('%B %d, %Y')}}</h4>
  <p>{{event.description}}</p>
  <hr>
  <p><strong>Language:</strong> {{event.language}}</p>
  <p><strong>Physical Activity:</strong> {{event.physical_activity}}</p>
  <p><strong>Time: About</strong> {{event.hours}} hour(s)</p>
  <hr>
  <h3>Volunteers:</h3>
  <div class="row">
    {% for v in event.volunteers %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <a href="/timeline/{{v.id()}}">
        <img class="img-responsive profile-pic img-circle" src="http://www.homepcpatrol.com/sites/default/files/imagecache/Profile_Full/alice-stilwell.jpg" alt="...">
      </a>
    </div>
    {% endfor %}
  </div>
  <br>
  <a href="/join_event/{{event.key.id()}}?volunteer=1" type="button" class="btn">Join As A Volunteer</a>
  <h3>Drivers:</h3>
  <div class="row">
    {% for d in event.drivers %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <a href="/timeline/{{d.id()}}">
        <img class="img-responsive profile-pic img-circle" src="http://www.homepcpatrol.com/sites/default/files/imagecache/Profile_Full/alice-stilwell.jpg" alt="...">
      </a>
    </div>
    {% endfor %}
  </div>
  <br>
  <a href="/join_event/{{event.key.id()}}?driver=1" type="button" class="btn">Join As A Driver</a>
  <h3>Translators:</h3>
  <div class="row">
    {% for t in event.translators %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      <a href="/timeline/{{t.id()}}">
        <img class="img-responsive profile-pic img-circle" src="http://www.homepcpatrol.com/sites/default/files/imagecache/Profile_Full/alice-stilwell.jpg" alt="...">
      </a>
    </div>
    {% endfor %}
  </div>
  <br>
  <a href="/join_event/{{event.key.id()}}?translator=1" type="button" class="btn">Join As A Translator</a>
{% endblock %}