{% extends "dashboard.html" %}
{% block content %}
    <h1>Event Feed</h1>
	{% for n in events %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="card-name">Event Name</h2>
				<h4 class="card-description">Description</h4>
				<p class="card-needs">LANGUAGE: ...</p>
				<p class="card-needs">PHYSICAL ACTIVITY: ...</p>
				<h4 class="card-footer pink-font">X HOURS | JAN 01 2016</h4>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}