{% extends "dashboard.html" %}
{% block content %}
    <h1>Join Event</h1>
    <hr>
    {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">{{success}}</div>
    <script type="text/javascript">
      $(document).ready(function () {
          $('#share-modal').modal('show');
      });
    </script>
    <div class="modal fade in" id="share-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Share this with friends!</h4>
          </div>
          <div class="modal-body">
            <label>Message</label>
            <textarea name="" id="input" class="form-control" rows="4" required="required">Hey everyone! I just sent a request to join {{event.name}} as a volunteer! It's a great cause, and it starts on {{event.date.strftime('%A')}}, {{event.date.strftime('%B %d, %Y')}} at {{event.date.strftime('%-I%p')}}! If you can make it, come out and help support us!</textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Share</button>
            <button type="button" class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row text-center"><h1>I want to help out as a...</h1></div>
    <form action="/join_event/{{event.key.id()}}" method="POST" role="form">    
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <div class="text-center">
            <br>
            <h4>Volunteer</h4>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="43.466px" height="54.33px" viewBox="0 0 43.466 54.33" enable-background="new 0 0 43.466 54.33" xml:space="preserve">
            <g id="Group-5-Copy" transform="translate(861.496261, 62.890602)" sketch:type="MSShapeGroup">
              <circle id="Oval-16_6_" fill="none" stroke="#4A4A4A" stroke-width="3" cx="-839.764" cy="-49.008" r="12.382"/>
              <path id="Rectangle-242_6_" fill="none" stroke="#4A4A4A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="
                M-859.996-10.061v-18.291c0-2.281,2.38-4.13,5.331-4.13h29.803c2.945,0,5.332,1.856,5.332,4.132v18.289"/>
            </g>
            </svg>
            <br>
            {% if volunteer %}
              <input type="checkbox" name="volunteer" id="volunteer" value="1" checked="checked">
            {% else %}
              <input type="checkbox" name="volunteer" id="volunteer" value="1">
            {% endif %}
          </div>
        </div>  
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <div class="text-center">
            <br>
            <h4>Driver</h4>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="102.462px" height="52.033px" viewBox="0 0 102.462 52.033" enable-background="new 0 0 102.462 52.033"
               xml:space="preserve">
            <g id="Group-5" transform="translate(1140.156329, 61.777184)" sketch:type="MSShapeGroup">
              <g id="Group-Copy_6_" transform="translate(0.335325, 0.569712)">
                
                  <path id="Rectangle-242-Copy-2_6_" fill="none" stroke="#4A4A4A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="
                  M-1138.992-33.287c0-6.029,5.458-7.884,13.342-9.704c14.556-11.801,22.439-19.407,36.389-17.587
                  c13.949,1.819,22.439,17.587,22.439,17.587c9.098,3.505,27.292,0,27.292,11.66s0,8.212,0,8.212c0,2.758-2.241,4.994-5.001,4.994
                  h-89.461c-2.762,0-5-2.229-5-4.995C-1138.992-23.12-1138.992-21.029-1138.992-33.287z"/>
                <circle id="Oval-17_6_" fill="#F4F4F4" stroke="#4A4A4A" stroke-width="3" cx="-1120.468" cy="-20.192" r="8.378"/>
                <circle id="Oval-17-Copy_6_" fill="#F4F4F4" stroke="#4A4A4A" stroke-width="3" cx="-1062.247" cy="-20.192" r="8.378"/>
              </g>
              <path id="Line-Copy_12_" fill="none" stroke="#4A4A4A" stroke-width="3" stroke-linecap="round" d="M-1115.272-38.777h41"/>
              <path id="Line-Copy-2_6_" fill="none" stroke="#4A4A4A" stroke-width="3" stroke-linecap="round" d="M-1093.272-48.777v10"/>
            </g>
            </svg>
            <br>
            {% if driver %}
              <input type="checkbox" name="driver" id="driver" value="1" checked="checked">
            {% else %}
              <input type="checkbox" name="driver" id="driver" value="1">
            {% endif %}
          </div>
        </div>  
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group">
          <div class="text-center">
            <br>
            <h4>Translator</h4>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="77.626px" height="58.023px" viewBox="0 0 77.626 58.023" enable-background="new 0 0 77.626 58.023" xml:space="preserve">
            <g id="Group-3" transform="translate(998.913490, 62.890602)" sketch:type="MSShapeGroup">
              
                <path id="Rectangle-242-Copy-4_6_" fill="none" stroke="#4A4A4A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="
                M-997.414-56.387c0-2.764,2.233-5.004,5.01-5.004h54.856c2.767,0,5.01,2.24,5.01,5.004v33.059c0,2.763-2.237,5.003-4.992,5.003
                h-31.752c-2.063,0-10.767,12.817-13.843,11.279s0.056-11.279-1.538-11.279h-7.76c-2.757,0-4.991-2.239-4.991-5.003V-56.387z"/>
              
                <path id="Rectangle-242-Copy-5_6_" fill="#F4F4F4" stroke="#4A4A4A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="
                M-922.788-39.367c0-2.758-2.244-4.993-4.994-4.993h-35.262c-2.759,0-4.994,2.232-4.994,4.993v20.05
                c0,2.758,2.235,4.994,5.003,4.994c0,0,12.87,0,20.626,0c1.438,0,7.509,8.939,9.654,7.866c2.146-1.072-0.039-7.866,1.072-7.866
                h3.891c2.764,0,5.004-2.233,5.004-4.994V-39.367z"/>
              <g id="Group-7-Copy_6_" transform="translate(45.615557, 26.222374)">
                <path id="Path-227_6_" fill="none" stroke="#4A4A4A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="
                  M-997.3-49.056l5.099-12.487l5.724,12.487"/>
                <path id="Path-228_6_" fill="none" stroke="#4A4A4A" stroke-width="3" d="M-994.698-54.051h5.724"/>
              </g>
            </g>
            </svg>
            <br>
            {% if translator %}
              <input type="checkbox" name="translator" id="translator" value="1" checked="checked">
            {% else %}
              <input type="checkbox" name="translator" id="translator" value="1">
            {% endif %}
          </div>
        </div>  
      </div>
    <div class="row text-center"><button type="submit" class="btn btn-lg btn-primary">Send Request!</button></div>
    </form>
{% endblock %}