{% extends "dashboard.html" %}
{% block content %}
	<br>
	<br>
	<div class="row">
		<div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<img class="img-circle profile-pic" src="http://www.homepcpatrol.com/sites/default/files/imagecache/Profile_Full/alice-stilwell.jpg">
	    	<h1 class="green-font">{{user.name}}</h1>
	    	<p>Joined Events: {{joined_events|length}}  •  Created Events: {{created_events|length}}  •  Followers: 0</p>
	    	<br>
	    	<hr>
	    </div>
	</div>
	<div class="row">

{% endblock %}